<form #form="ngForm" (ngSubmit)="onSubmit()" class="cliente-delete">
    <h2 mat-dialog-title>Deletar cliente</h2>
    <div mat-dialog-content>
        <mat-form-field class="cliente-delete-text" appearance="fill">
        Deseja mesmo deletar o(a) cliente de ID: {{ cliente.id }} e nome: {{ cliente.nome }}?
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button type="button" mat-raised-button mat-dialog-close color="primary">Cancelar</button>
        <button type="submit" mat-raised-button color="warn">Deletar</button>
    </div>
  </form>
