<div class="container">
  <div class="form-wrapper">
    <form [formGroup]="tecnicoForm" (ngSubmit)="onSubmit()">
      <h2>Novo tecnico</h2>
      <section formArrayName="perfils" class="section checkbox-section">
        <mat-checkbox class="margin" color="primary" formControlName="0">Admin</mat-checkbox>
        <mat-checkbox class="margin" color="primary" formControlName="1">Cliente</mat-checkbox>
        <mat-checkbox class="margin" color="primary" formControlName="2">Tecnico</mat-checkbox>
      </section>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome do tecnico" formControlName="nome" required />
        <mat-error *ngIf="tecnicoForm.get('nome')?.errors?.['required']">Campo obrigatório</mat-error>
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput mask="000.000.000-00" [dropSpecialCharacters]="false" placeholder="CPF do tecnico"
          formControlName="cpf" required />
        <mat-error *ngIf="tecnicoForm.get('cpf')?.errors?.['required']">Campo obrigatório</mat-error>
        <mat-error *ngIf="tecnicoForm.get('cpf')?.errors?.['mask']">Formato de CPF inválido</mat-error>
        <mat-icon matPrefix>credit_card</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email do tecnico" formControlName="email" type="email" required />
        <mat-error *ngIf="tecnicoForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
        <mat-icon matPrefix>email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha do tecnico" formControlName="senha" type="password" required />
        <mat-error *ngIf="tecnicoForm.get('senha')?.errors?.['required']">Campo obrigatório</mat-error>
        <mat-error *ngIf="tecnicoForm.get('senha')?.errors?.['minlength']">O mínimo são 8 caracteres</mat-error>
        <mat-icon matPrefix>key</mat-icon>
      </mat-form-field>
      <span class="mat-error" *ngIf="tecnicoForm.get('perfils')?.errors?.['sometrue']">
        Marque pelo menos uma função para o user
      </span>
      <button mat-raised-button color="primary" [disabled]="tecnicoForm.invalid">
        Criar
      </button>
    </form>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://user-images.githubusercontent.com/31005408/175540233-f385fa20-1cf9-44c1-86e5-161c9fdc0a9f.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://user-images.githubusercontent.com/31005408/175540237-dd9c8a51-20bb-4268-b707-8541b1bdf48f.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://user-images.githubusercontent.com/31005408/175540247-74ab6d49-060b-4175-8aa5-3c8193cf412b.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>