.table-wrapper{
    overflow-x: auto;
}

.mat-header-cell{
   min-width: 100px;
}

.buttonfab{
    display: flex;
    justify-content: flex-end;
    margin-right:7%;
    margin-top: 15px;
    padding-bottom:15px ;
    position:sticky;
    bottom:0;
    z-index: 1;
}