.table-wrapper{
    overflow-x: auto;
    width: 1070px;
    margin: 0 auto;
}

.mat-header-cell{
   min-width: 185px;
}

table th {
    height: 60px;
    background: #36304a;
    color: #fff;
    font-size: 18px;
}

tr:nth-child(even) {
    background:lightgray;
}

.bradius{
    border-top-left-radius: 10px;

}

.bradius2{
     border-top-right-radius:10px;
}

h2{
    padding-top: 20px;
    font-size: 42px;
    text-align: center;
}

.container{
    height: 100vh;
}

.buttonfab{
    display: flex;
    justify-content: flex-end;
    margin-right: 8%;
    margin-top: 15px;
    padding-bottom:15px;
    position:sticky;
    bottom:0;
    z-index: 1;
}